<!-- mailing_detail_manage.html -->
{% extends 'main/base.html' %}
{% load mediapath %}

{% block content %}

<div class="container">
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h3 class="card-title">{{ object.title }}</h3>
                <small class="text-body-secondary">Дата публикации: {{ object.date|date:'d-m-Y H:i:s' }}</small><br><br>

                <!-- Вывод информации о рассылке -->
                <h4>Сообщение рассылки:</h4>
                <p>{{ object.message.theme }}: {{ object.message.text }}</p>

                <!-- Вывод информации о партнере -->
                <h4>Информация о партнере:</h4>
                <p>Название компании: {{ object.partner.name_company }}</p>
                <p>Адрес компании: {{ object.partner.address }}</p>
                <p>Телефон: {{ object.partner.phone }}</p>
                <p>Почта компании: {{ object.partner.email_company }}</p>

                <!-- Форма для блокировки/разблокировки -->
                <form method="post" action="{% url 'mailing:toggle_block_status' object.id %}">
                    {% csrf_token %}
                    <button type="submit">
                        {% if object.is_active %}
                            Заблокировать
                        {% else %}
                            Разблокировать
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
</div>

{% endblock %}




