{% extends 'main/base.html' %}
{% load mediapath %}

{% block content %}

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h3 class="card-title">Пользователь:</h3>
                <ul>
                    <li>{{ questionnaire.name }} {{ questionnaire.surname }}, {{ questionnaire.age }} лет</li>
                </ul>
                <img class="card-img-top"
                    src="{% mediapath questionnaire.image %}"
                    alt="Card image cap">
                <strong>Информация:</strong>
                <ul>
                    <li>{{ questionnaire.city }}</li>
                </ul>
                <strong>БИО:</strong>
                <ul>
                    <li>{{ questionnaire.description }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>

{% endblock %}